// This template lets you add your own styles to the default, unstyled documentation!

extends ../../../node_modules/json-api/templates/documentation.jade

block styles
  link(rel="stylesheet",href="css/documentation.css")